<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <form action="/djangoapp/dealer/{{ dealerId }}/add_review"  method="post">
        <!--<input name = "dealerId" type="number"  value = "{{ delaerId }}"" hidden>-->
        {% csrf_token %}<!--Important do not touch-->
        <div class="form-group">
          <label for="exampleInputEmail1">Review</label>
          <input name = "review" type="text" class="form-control" id="exampleInputEmail1">
          <small id="emailHelp" class="form-text text-muted">Stick to our communication rules</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input name = "name" type="text" class="form-control" id="exampleInputEmail1">
            <small id="emailHelp" class="form-text text-muted">Stick to our communication rules</small>
        </div>
        <br>
        <input type="checkbox" id="scales" name="purchasecheck">
        <label for="purchasecheck"><b>Did your purchase from this dealership?</b></label>
        <br>
        <select name="car" id="car" class="form-select" >
            {% for car in cars %}
                <option selected value={{car.id}}>{{car.name}}-{{car.car_make}}-{{ car.year|date:"Y" }}</option>
            {% endfor %}
       </select>
       <div class="form-group">
        <label for="exampleInputEmail1">       Date purchased(mm/dd/yyyy)        </label>
        <input class="date-own form-control" type="text" name="purchase_date" id="purchasedate">
        <small id="emailHelp" class="form-text text-muted">Stick to our communication rules</small>
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </body>
    
</html>
